langchain~=0.0.245
pydantic~=1.10.12
duckduckgo-search
wikipedia
openai
playwright~=1.36.0
lxml

pillow~=10.0.0
matplotlib
chromadb
tiktoken
sentence_transformers
google-api-python-client

requests~=2.31.0
beautifulsoup4~=4.12.2